@keyframes name-callout {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

header {
  background-color: #333;
  color: #ccc;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

header a {
  color: white;
  text-decoration: none;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Courier New, monospace;
}

#name-callout {
  width: 100%;
  height: 760px;
  margin: 0;
  display: flex;
  animation: name-callout 4s infinite;
}

#name {
  font-style: bold;
  font-size: 108px;
  font-weight: 700;
  align-self: center;
  flex: 1;
  text-align: center;
  background-color: white;
}

#about-me {
  background: orange;
}

#projects {
  background-color: lightgreen;
}

.section {
  padding: 50px;
}

.section-header {
  font-size: 40px;
  font-weight: bold;
}

.section-text {
  font-size: 18px;
  margin: 20px 0;
}

#project-list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.project-item {
  padding: 30px;
  border: 3px solid green;
  background-color: greenyellow;
  margin: 20px;
}

.project-title {
  display: block;
  font-weight: bold;
}

footer {
  padding: 20px;
  background-color: #333;
  color: #ccc;
  text-align: center;
}

#header-logo {
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
}
