@keyframes name-callout {
  0%   {background-color:#ffdbee}
  25%  {background-color:#e8dbff}
  50%  {background-color:#dbf3ff}
  75%  {background-color:#dfffdb}
  100% {background-color:#fff9db}
}

.topbar {
  background-color: white;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  position: fixed;
}

.topbar a {
  color: gray;
  text-decoration: none;
  padding: 50px;
}

a:hover {
  color: black;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Courier New, monospace;
}

#name-callout {
  width: 100%;
  height: 760px;
  margin: 0;
  display: flex;
  animation: name-callout 4s infinite;
}

#name {
  font-style: bold;
  font-size: 108px;
  font-weight: 700;
  align-self: center;
  flex: 1;
  text-align: center;
  background-color: white;
  animation: name-callout 4s infinite;
}

#about-me {
  background: white;
}

#projects {
  background-color: white;
}

.section {
  padding: 100px;
}

.section-header {
  font-size: 40px;
  font-weight: bold;
}

.section-text {
  font-size: 18px;
  margin: 20px 0;
}

#project-list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.project-item {
  padding: 30px;
  border: 3px solid black;
  margin: 20px;
}

.project-title {
  display: block;
  font-weight: bold;
}

footer {
  padding: 20px;
  background-color: #bbb;
  color: #fff;
  text-align: center;
}
